<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/mainHeader::header">
<meta charset="utf-8" />
<title>Penjualan</title>
</head>

<body class="fix-header card-no-border">
	<div id="main-wrapper">
		<div th:replace="fragments/mainMenu::menu"></div>

		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="alert alert-info" th:if="${status == 'success'}">
					<span class="text-info"><i class="fa fa-check-circle"></i> <span
						th:text="${message}"></span></span>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-5">
										<h4 class="card-title">Daftar Absen Karyawan</h4>
										<h6 class="card-subtitle">
											<a th:href="@{'/dashboard'}">Dashboard</a> / Absen Karyawan
										</h6>
									</div>
									<div class="col-7" align="right">
									<!-- <a th:href="@{'/user/new'}" class="btn waves-effect waves-light btn-info"><i class="mdi mdi-plus-circle-outline"></i> Absensi</a> -->
									</div>
								</div>
								<div class="row">
									<div class="col-5">
									  <p>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="row">
											<div class="col-4" align="left">
												<div >
													<label><b>Tanggal Absen:</b></label>
												</div>
											</div>
											<div class="col-5">
												<div >
													<input readonly="readonly" type="text" class="form-control" id="startDate" placeholder="Tanggal Absen"/>
												</div>
											</div>
											<div class="col-2">
												<div >
													<button id="search"
											class="btn waves-effect waves-light btn-info"><i class=""></i>
											Cari</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 grid-margin stretch-card">
										<div class="card">
											<div class="card-body">
												<div class="table-responsive">
													<table id="dataTableExample" class="table">
														<thead>
															<tr>
																<th width="5%">No</th>
																<th width="20%">Nama Karyawan</th>
																<th width="15%">Tanggal Absen</th>
																<th width="15%">Status</th>
																<th width="30%">Alasan</th>
															</tr>
														</thead>
														<tbody>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div th:replace="fragments/mainFooter::footer"></div>
	<script>
	$(document).ready(function() {
		var d = new Date();
		var m = (d.getMonth()+1) > 9 ? (d.getMonth()+1) : "0"+(d.getMonth()+1);
		var strDate =d.getDate() + "-" + m + "-" + d.getFullYear();
		$("#startDate").datepicker({
			format: 'dd-mm-yyyy',
			autoclose: true,
		});
		
		
		
		getData(strDate);
		
		$('#search').click(function() {
			if($("#startDate").val() != ""){
				var table = $('#dataTableExample').DataTable().destroy();
				getData($('#startDate').val());
			}
		})
		
		function getData(startdate) {
			let url = new URL(window.location.href);
			url = 'http://localhost:8889';
				$.ajax({
					type : 'get',
					url : url + '/employee/list?startdate='+startdate,
					success : function(data) {
						debugger;
						var newRow = [];
						var table = $('#dataTableExample').DataTable({searching: false, paging: false, info: false}).clear().draw();
						var json = JSON.parse(data);
						var number = 0;
						for(var i = 0; i < json.length; i++){
							number++;
							table.row.add([
				                    number,
				                    json[i].name,
				                    json[i].dateAbsen,
				                    json[i].status,
				                    json[i].alasan,
				                ]).draw();  
						}
						
					},
				});
		};
	});
	
	</script>
</body>
</html>