<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/mainHeader::header">
<meta charset="utf-8" />
<title>Penjualan</title>
</head>

<body class="fix-header card-no-border">
	<div id="main-wrapper">
		<div th:replace="fragments/mainMenu::menu"></div>

		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-12">
										<h4 class="card-title">User</h4>
										<h6 class="card-subtitle">
											<a th:href="@{'/dashboard'}">Dashboard</a> / <a
												th:href="@{'/user'}">User</a> / Tambah Data
										</h6>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 grid-margin stretch-card">
										<div class="card">
											<div class="card-body">
												<form class="userform" id="idUserForm" method="post" enctype="multipart/form-data"
													th:action="@{/user/save}" autocomplete="off">
													<fieldset>
														<div class="form-group row p-b-15">
															<label
																class="col-sm-3 text-right control-label col-form-label"><span
																class="text-danger">*</span> Nama User</label>
															<div class="col-sm-7">
																<input type="text" th:field="${user.name}"
																	class="form-control"
																	placeholder="Silahkan isi nama user" maxlength="100"
																	autocomplete="off" required />
															</div>
														</div>
														<div class="form-group row p-b-15">
															<label
																class="col-sm-3 text-right control-label col-form-label"><span
																class="text-danger">*</span> Alamat</label>
															<div class="col-sm-7">
																<input type="text" th:field="${user.alamat}"
																	class="form-control"
																	placeholder="Silahkan isi alamat" maxlength="100"
																	autocomplete="off" required />
															</div>
														</div>
														<div class="form-group row p-b-15">
															<label
																class="col-sm-3 text-right control-label col-form-label"><span
																class="text-danger">*</span> No Handphone</label>
															<div class="col-sm-7">
																<input type="text" th:field="${user.noHp}"
																	class="form-control"
																	placeholder="Silahkan isi no handphone" maxlength="100"
																	autocomplete="off" required />
															</div>
														</div>
														<div class="form-group row p-b-15">
															<label
																class="col-sm-3 text-right control-label col-form-label"><span
																class="text-danger">*</span> Username</label>
															<div class="col-sm-7">
																<input id="idUsername" type="text" th:field="${user.username}"
																	class="form-control"
																	placeholder="Silahkan isi username" maxlength="100"
																	autocomplete="off" required />
															</div>
														</div>
														<div class="form-group row p-b-15">
															<label
																class="col-sm-3 text-right control-label col-form-label"><span
																class="text-danger">*</span> Password</label>
															<div class="col-sm-7">
																<input type="text" th:field="${user.password}"
																	class="form-control"
																	placeholder="Silahkan isi password" maxlength="100"
																	autocomplete="off" required />
															</div>
														</div>
														<div class="form-group row p-b-15">
															<label
																class="col-sm-3 text-right control-label col-form-label"><span
																class="text-danger">*</span> Roles</label>
															<div class="col-sm-7">
																<select th:field="${user.role}" class="form-control" style="width: 200px" required>
																	<option value="" readonly>--Pilih Jabatan--</option>
																	<option th:each="jab : ${listJabatan}"
															                th:value="${jab.name}"
															                th:text="${jab.name}">
															        </option>
																</select>
															</div>
														</div>
														<input class="btn btn-info" type="submit" value="Save"
															/> <a
															th:href="@{/user}" type="button" class="btn btn-inverse">Cancel</a>
													</fieldset>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div th:replace="fragments/mainFooter::footer"></div>
	<script type="text/javascript">
	$(document).ready(function() {
		$("#idUsername").on({
			  keydown: function(e) {
			    if (e.which === 32)
			      return false;
			  },
			  change: function() {
			    this.value = this.value.replace(/\s/g, "");
			  }
			});
	});
	
	</script>
	
</body>
</html>