<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Arsip</title>
     <!-- custom scrollbar stylesheet -->
     <link href="/assets/css/style2.css" rel="stylesheet" />
     
    <link th:href="@{~/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{~/assets/css/style.css}" rel="stylesheet" />
    <link th:href="@{~/assets/css/colors/megna.css}" id="theme" rel="stylesheet" />
    <link th:href="@{~/assets/css/colors/megna.css}" id="theme" rel="stylesheet" />
    <link th:href="@{~/assets/plugins/datetimepicker/jquery.datetimepicker.min.css}" rel="stylesheet" />
    <link th:href="@{~/assets/css/datepicker.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
    
    
</head>
<body>
</body>
</html>