<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/mainHeader::header">
    <meta charset="utf-8"/>
    <title>Penjualan</title>
</head>

<body class="fix-header card-no-border">
    <div id="main-wrapper">
    	<div th:replace="fragments/mainMenu::menu"></div>

        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <center style="margin-top:18%"><h1 class="text-danger"><i class="fa fa-exclamation-triangle"></i> 500</h1> Internal Server Error!</center>
                    </div>
                </div>
            </div>
        </div>
         
    </div>
    <div th:replace="fragments/mainFooter::footer"></div>
</body>

</html>