<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    
    <title>Penjualan</title>
    <link th:href="@{~/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{~/assets/css/style.css}" rel="stylesheet" />
</head>

<body>
   <section id="wrapper">
        <div class="login-register" style="background-image:url(assets/images/login-register.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material" th:action="@{/doLogin}" method="post">
                    	<h3 class="box-title m-b-20">Sign In</h3>
                        <div class="alert alert-danger" th:if="${error == 'true'}"><center><i class="ti-alert"></i> Invalid Username or Password</center></div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" name="username" required="" placeholder="Username" autocomplete="off"/> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" name="password" required="" placeholder="Password" autocomplete="off"/> 
                            </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>